html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    background: #000;
}

nav {
    background: #eee;
}

/* #hoverMe {
    background: salmon;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    color: #fff;
    cursor: pointer;
    transition: background 1s, transform 1s 1s ease;
}

#hoverMe:hover {
    background: pink;
    transform: rotate(360deg);
} */

#sky {
    height: 40vh;
    background: skyblue;
}

#grass {
    height: 25vh;
    background: #3e7e00;
}

#road {
    height: 35vh;
    background: dimgrey;
    box-sizing: border-box;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    width: 100%
}

.lines {
    border: 5px dashed #fff;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 45%;
}

/* Animations Below */

#mario {
    position: absolute;
    top: -40px;
    left: 0px;
    /* Example of Chaining animations together and the animation property short-hand */
    animation: drive 3s linear infinite both, jump 0.3s 1.5s ease;
}

#luigi {
    position: absolute;
    top: 100px;
    left: 0;
    animation-name: drive;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.cloud {
    position: absolute;
}

.cloud:nth-child(1) {
    width: 200px;
    top: 120px;
    opacity: .5;
    animation: wind 75s linear infinite;
}

.cloud:nth-child(2) {
    width: 300px;
    top: 0px;
    animation: wind 60s linear infinite;
}

/* Keyframes Below */

@keyframes drive {
    from {
        transform: translateX(-200px)
    }
    to {
        transform: translateX(2500px)
    }
}

@keyframes wind {
    from {
        left: 100%
    }
    to {
        left: -300px
    }
}

@keyframes jump {
    0% {
        top: -40px
    }
    50% {
        top: -100px
    }
    100% {
        top: -40px
    }
}

/* Sign Up Form Styling */

#signUpForm {
    height: 350px;
    width: 100%;
    background-color: bisque;
    color: #000;
    margin: 0px auto;
    position: relative;
    top: -400px;
    transform-origin: 5px 5px;
}

#signUpForm h1 {
    text-align: center;
    margin-top: 60px;
}

#signUpForm p {
    font-size: 1.2em;
    margin-top: 30px;
    text-align: center
}

.input-group {
    margin: 40px auto;
}

.pop-up {
    animation: drop 1s ease forwards, swing 2s 3s ease forwards;
}

@keyframes drop {
    0% {
        opacity: 0;
    }
    70% {
        transform: translateY(700px)
    }
    100% {
        transform: translateY(600px);
        opacity: 1;
    }
}

@keyframes swing {
    0% {
        transform: translateY(600px) rotateZ(0deg)
    }
    40% {
        transform: translateY(600px) rotateZ(90deg)
    }
    70% {
        transform: translateY(600px) rotateZ(60deg)
    }
    100% {
        transform: translateY(600px) rotateZ(75deg)
    }
}